body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

/* Menu Icon */

.navbar-default .navbar-toggle {
    border: 0;
    margin-top: 14px;
    margin-bottom: 14px;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar .navbar-nav li a {
    color: #fafafa;
    height: 60px;
    line-height: 30px;
}

.navbar .navbar-nav li a:hover {
    color: #C14242;
}

.navbar .navbar-brand {
    font-size: 2em;
    font-weight: 900;
    color: #fafafa;
    height: 60px;
    line-height: 30px;
}

.navbar .navbar-brand span {
    font-weight: 900;
    color: #C14242;
}

.navbar .navbar-brand:hover {
    color: #fafafa;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
    height: 60px;
    line-height: 30px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: #C14242;
    color: #fafafa;
    border-radius: 4px;
}

input[type=search] {
    height: 50px;
    margin-bottom: 15px;
    font-size: 2em;
}

.btn-search {
    background-color: #C14242;
}


.btn-register {
    background-color: #C14242;
}

.front-page {
    height: 70vh;
    background-image: url('../img/ivan-torres.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.front-page .jumbotron {
    margin-top: 10%;
    background-color: transparent;
    color: #fafafa;
}

.jumbotron h3 {
    margin: 50px 0;
}

/* Featured Trainer Section */
.featured-trainer {
    margin-top: 25px;
    margin-bottom: 50px;
}


.trainer-header {
    margin-bottom: 25px;
}

.trainer-header h2 {
    font-size: 3em;
}

.panel {
    transition: transform .3s ease;
}

.panel:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.11)
}

.panel-default .panel-heading {
    background-color: #C14242;
    color: #FFF;
}

.panel .list-group {
    margin-bottom: 5px;
}

.panel .list-group-item {
    border: none;
    width: 150px;
    margin: auto;
}

.rating {
    margin: 5px 0px;
    color: gold;
    font-size: 1.5em;
}

.panel .btn-primary {
    background-color: #C14242;
}

.panel img {
    margin-bottom: 5px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.panel p {
    margin: 10px 0;
}

 /* About section */
 
.about {
    height: 50vh;
    background-color: #C14242;
    color: #fafafa;
    padding: 0;
}

/* Store section */
.store { 
    height: 50vh;
}

/* Footer section */
footer {
    background-color: #232323;
    color: #fafafa;
}


@media (max-width: 768px) {
    .front-page {
        height: 85vh;
    }

    .jumbotron h3 {
        margin: 25px 0;
    }
    .navbar {
        background-color: rgba(35, 35, 35, .75)
    }
}
